li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
  }


  .note {
    color: grey;
    padding-top: 5px;
    font-size: 15px;
  }


  .error ,  .success ,  .default {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.error {
color: red;
border-color:red;
}

.success {
color: green;
border-color:green;
}

.default {
	color: blue;
	border-color:blue;
	}